<div>
  <h1>Combos</h1>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <% @combos.each do |combo| %>
    <%= render 'combo', combo: combo %>
  <% end %>
</div>

<div>
  <h1>Hottest Combos</h1>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <% @hottest.each do |combo| %>
    <%= render 'hottest_combo', combo: combo %>
  <% end %>
</div>
